$green: #00c759
$light-green: lighten($green, 20%)
$dark-green: darken($green, 20%)

$dark-gray: #555
$gray: #ccc
$light-gray: #ddd
$header-gray: #EDEAE180

$blue: #00c759
$light-blue: lighten($blue, 20%)
$dark-blue: darken($blue, 20%)

$navbar-bg: $blue
